:root {
    --primary-color: #f1f1f1;
    --secondary-color: #eee;
    --boxes-shadow: 0px 2px 6px #00000030;
    --text-color: #000;
    --text-muted: #757575;
    --text-primary: #5a79b1;
    --text-primary-10: #5a79b1ab;
    --text-primary-5: #5a79b178;
    --text-danger: #bf4e62;
    --text-light: #fff;
    --text-dark: #222;
    --border-color: #000;
}

* {
    color: var(--textColor);
}

html,
body,
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.dark {
    transition: 0.3s;
    --bg-color: #1a1a1a;
    --text-color: #fff;
    --boxes-bg: #262626;
    --boxes-shadow: 0px 0px 2px 2px #4a4a4a;
    --text-muted: #ebe7e7;
    --text-primary: #1da1f2;
    --text-primary-10: #1da1f296;
    --text-primary-5: #1da1f242;
    --calender-today: rgb(255 169 0 / 10%);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.light {
    background: var(--bg-color);
    color: var(--text-color);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}